* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box_all_container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191E2B;
    color: #fafafa;
}

.box_container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
}



/*   MAIN */

#columns-sections {
    display: flex;
}



/* EN RESPONSIVE, PARECE NO AFECTAR QUE NO HAYAN MEDIDAS ESPECÍFICAS EN .box_nav_ppal e img ***************/

.box_nav_ppal{
    display: flex;
    justify-content: space-evenly;
}

.box {
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 24px;
    height: 24px;
}

button {
    background-color: inherit;
    border: none;
    color: #fafafa;
    padding: 10px;
}

button:hover {
    background-color: #303440;
}







.box_container_text {
    max-width: 800px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303440;
}

.all_text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all_text_box p{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_box {
    width: 300px;
    height: 40px;
    background-color: #fafafa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
}

.text_medium {
    width: 300px;
    height: 250px;
    background-color: black;
}





/*    ASIDE    */

.right_side_container {
    display:flex;
    /* background-color: brown; */
}