* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box_all_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191E2B;
    color: #fafafa;
}

.box_container {
    height: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
}

.box_container h1 {
    font-size: 1.8rem;
}



/*   MAIN */

.columns_sections {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #303440;
    gap: 20px;
}


.box_nav_ppal{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.box {
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 24px;
    height: 24px;
}

button {
    background-color: inherit;
    border: none;
    color: #fafafa;
    padding: 10px;
}


button:hover {
    background-color: #303440;
}

.all_text_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.all_text_box p{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.text_box {
    width: 300px;
    height: 40px;
    background-color: #fafafa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
}


.img_medium {
    width: 300px;
    height: 300px;
    background-color: black;
}

.img_medium img {
    width: 100%;
}

.button_download {
    background-color: #900c3e;
}

.button_download:hover {
    background-color: #ad284d;
}



/*    ASIDE  IMG   */

.hidden {
    display: none;
}

.right_side_container {
    max-width: 500px;
    display: flex;
    /* visibility: hidden; */
    background-color: #252934;
    color: #fafafa;
    padding: 20px;
}

#tab_img , #tab_text{
    width: 100%;
    background-color: #252934;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.button_close {
    display: flex;
    justify-content: flex-end;
}

.button_close img {
    width: 30px;
}

.right_side_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right_side_box label {
    display: flex;
}

.text_legend {
    display: flex;
    justify-content: center;
}

.link-input {
    width: 150px;
    height: 25px;
}

.select_option {
    background-color: #191E2B;
    color: #fafafa;
}

.box_inputs {
    appearance: none;
    accent-color: #900c3e;
}

.box_inputs label {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


/*  ASIDE  TEXT  */

textarea {
    display: flex;
}

.box_font {
    display: flex;
    flex-direction: column;
}

.box_color {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.box_space_line {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* MODO CLARO */

.header_background_light {
    background-color: rgb(146, 150, 150);
    color: black;
}

.color_buttons_black {
    color: black;
}

.main_background_light {
    background-color: rgba(225, 230, 230, 0.676);
}













@media (min-width: 1024px) {

    .columns-sections {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #303440;
        padding: 242px;
    }

    .right_side_container {
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
    }
    
}