* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box_all_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191E2B;
    color: #fafafa;
}

.box_container {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.box_container h1 {
    font-size: 1.8rem;
}

.box_nav_ppal{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.box {
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.box button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 24px;
    height: 24px;
}

button {
    background-color: inherit;
    border: none;
    color: #fafafa;
    padding: 10px;
}

#button_dark {
    display: none;
}


button:hover {
    background-color: #303440;
}



/*   MAIN */

.container_meme_box {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #344167;
    gap: 20px;
}


.all_text_box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* .all_text_box p{


} */

.text_box {
    width: 310px;
    height: 65px;
    display: flex;
    background-color: #fafafa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
}

.text_box p {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_medium {
    width: 310px;
    height:300px;
    background-color: black;
}

#img_meme {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button_download {
    background-color: #900c3e;
}

.button_download:hover {
    background-color: #ad284d;
}



/*    ASIDE  IMG   */


.right_side_container {
    max-width: 500px;
    display: flex;
    background-color: #252934;
    color: #fafafa;
}

#tab_img {
    width: 100%;
    background-color: #252934;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.button_close{
    display: flex;
    justify-content: flex-end;
}

.button_close img{
    width: 35px;
}

.right_side_box_img {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.right_side_box_img label {
    display: flex;
}

.text_legend {
    display: flex;
    justify-content: center;
}

.link-input {
    width: 150px;
    height: 25px;
}

.select_option {
    background-color: #191E2B;
    color: #fafafa;
}

.box_inputs {
    appearance: none;
    accent-color: #900c3e;
    /* padding-block: 30px; */
}

.box_inputs label {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#restore_btn {
    font-size: 0.9rem;
    font-weight: bolder;
}


/*  ASIDE  TEXT  */

#tab_text {
    width: 100%;
    background-color: #252934;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.right_side_box_txt {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.right_side_box_txt label {
    display: flex;
}

#add_text_sup , #add_text_inf {
    width: 230px;
    height: 25px;
}

.box_font {
    display: flex;
    flex-direction: column;
}

.box_color {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.box_space_line {
    display: flex;
    flex-direction: column;
    gap: 10px;
}




/* CLASES DESDE JS */

.hidden {
    display: none;
}

.header_background_light {
    background-color: rgb(146, 150, 150);
    color: black;
}

.main_background_light {
    background-color: rgb(225, 230, 230);
}

.background_transparent {
    background-color: transparent;
}

.txt_stroke_none {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: inherit;
}

.txt_stroke_light {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(225, 230, 230);
}

.txt_stroke_dark {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}







@media (min-width: 768px) {
        /* HEADER */
    .box_container h1 {
        font-size: 2rem;
    }

    /* TEXTO DE MEME */
    .text_box {
        width: 450px;
        height: 80px;
        font-size: 1.7rem;
    }

    /* CONTAINER DE IMG DE MEME */
    .img_medium {
        width: 450px;
        height: 380px;
    }
}





@media (min-width: 1024px) {
    /* TITULO IMAGEN Y TEXTO */
    .text_legend {
        padding-top: 40px;
    }
    /* SECCION IMAGEN */
    #tab_img {
        width: 23%;
        display: flex;
    }

    .right_side_box_img {
        padding: 25px;
    }

    /* SECCION TEXTO */
    .right_side_box_txt {
        padding: 25px;
    }
}

@media (min-width: 1200px) {
    /* SECCION IMAGEN */
    #tab_img {
        width: 20%;
    }
}

@media (min-width: 1400px) {
    /* SECCION IMAGEN */
    #tab_img {
        width: 17%;
    }
}